name:  Build and push Docker image

on:
  push:
    branches: 
          - main
  pull_request:
    branches: 
          - main 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # // This action sets up Docker Buildx, which is a Docker CLI plugin that extends the capabilities of Docker Build. It allows you to build multi-platform images and use advanced features like caching and parallel builds.
    - name: Set up Docker Buildx  
      uses: docker/setup-buildx-action@v3    

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/simple-flask-app:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/simple-flask-app:${{ github.sha }}

        